*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


:root{
    --brand-color-light: #60A5FA;
    --brand-color-dark: #1D4ED8 ;
    --bg-color:#0F172A;
    --stroke-color: #1E293B ;
    --text-color-primary: #F1F5F9;
    --text-color-secondary:#CBD5E1;
    --font-famliy: 'archivo',sans-serif;
     --h1: 800 24px/135% var(--font-famliy);
     --h2: 800 16px/140% var(--font-famliy);
     --h3: 800 14px/140% var(--font-famliy);
     --text-span: 600 14/145% var(--font-famliy);
     --text:400 16px/140% var(--font-famliy);
     --text-sm: 400 14px/160% var(--font-famliy);
    

}

body{
    font: var(--text);
    background-color: var(--bg-color);
    color: var(--text-color-primary);
    
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: var(--brand-color-light);
}

h1, h2, h3{
    font: inherit;
}

.container{
    max-width: 1280px;
    padding-inline: 32px;
    margin-inline: auto;
}
img{
    max-width: 100%;
}
main{
    display: grid;
    margin-top: 40px;
    row-gap: 80px;
    column-gap: 32px;
    grid-template-columns: 2fr 1.5fr;
    grid-template-areas: 
    "featured featured"
    "weekly  weekly"
    "ai  aside";
}

.content-tag{
    display: inline-block;
    background-color: var(--brand-color-dark);
    padding: 4px 8px;
    border-radius: 4px;
    font:500 10px/1.2 var(--font-famliy);
    text-transform: uppercase;
    letter-spacing:00.04em ;
    color: var(--text-color-primary);
    box-shadow: 8px 4px 16px rgba(2,6,23,0.251);
}