#primary{
    padding-block: 20px;
    div:nth-child{2} {
        margin-inline:auto;
    }
    div:nth-child(3){
        justify-self: end;
    }

}
#secundary{
    padding-block: 14px;
    border: 1px solid;
    border-inline: none;
    border-color: var(--stroke-color);
    justify-content: space-between;
}