.grid{
    display: grid;
}

.grid-flow{
    grid-auto-flow: column;
}
.grid-columns-2{
    grid-template-columns: 1fr 1fr;
}
.gap-16{
    gap: 16px;
}
.text-2x1{
    font: var(--h1);

}
.text-x1{
    font: var(--h2);
}
.text-lg{
    font: var(--h3);
}

.text.sm{
    font: var(--text-sm);

}